<section class="promo-section section section-on-bg">
  <div class="hero-slider-wrapper">
    <div class="flexslider hero-slider">
      <ul class="slides">
        <li class="slide slide-1"></li>
        <li class="slide slide-2"></li>
        <li class="slide slide-3"></li>
      </ul>
    </div>
    <div class="hero-slider-mask"></div>
  </div><!--//hero-slider-wrapper-->
  <div class="container promo-content">
    <h2 class="headline">The Perfect Design Framework <br>for Startup Businesses</h2>
    <p class="tagline">Good design is good business, try our demo today!</p>
    <div class="actions">
      <a class="btn btn-cta btn-primary" href="#" data-toggle="modal" data-target="#signup-modal">Start Free Trial</a>
      <br class="d-sm-inline-block d-md-none">
      <a href="#" class="play-trigger" data-toggle="modal" data-target="#modal-video" ><%= image_tag('play-icon.svg', class: "play-icon") %>See how it works</a>
    </div>
  </div><!--//container-->
</section><!--//promo-section-->

<div class="page-nav-space-holder d-none d-md-block">
  <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
    <div class="container">
      <ul id="page-nav" class="nav page-nav list-inline">
        <li class="nav-item"><a class="nav-link scrollto" href="#overview-section">Overview</a></li>
        <li class="nav-item"><a class="nav-link scrollto"  href="#features-section">Key Features</a></li>
        <li class="nav-item"><a class="nav-link scrollto"  href="#customers-section">Customers</a></li>
        <li class="nav-item"><a class="nav-link scrollto"  href="#signup-section">Get Started</a></li>
        <li class="nav-item"><a class="nav-link scrollto"  href="#support-section">Support</a></li>
      </ul><!--//page-nav-->
    </div>
  </div><!--//page-nav-wrapper-->
</div><!--//page-nav-space-holder-->

<section id="overview-section" class="overview-section section">
  <h2 class="section-title">
    A great way to empower your team
  </h2>
  <div class="section-intro">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.
  </div><!--//section-intro-->
  <div class="figures-wrapper">
    <div class="container text-center">
      <figure class="macbook-screen"><%= image_tag('macbook-screen.png', class: "img-fluid") %></figure>
      <figure class="ipad-screen"><%= image_tag('ipad-screen.png', class: "img-fluid") %></figure>
      <figure class="iphone-screen"><%= image_tag('iphone-screen.png', class: "img-fluid") %></figure>
      <a href="#" class="play-icon" data-toggle="modal" data-target="#modal-video"><%= image_tag('play-icon-md.svg') %></a>
    </div><!--//container-->
  </div><!--//figures-wrapper-->
  <div class="benefits-wrapper">
    <div class="container text-center">
      <div class="row">
        <div class="item col-12 col-md-4">
          <div class="item-inner">
            <%= image_tag('icons/clock-white.svg', class: "item-icon") %>
            <h3 class="item-title">10X Faster Development</h3>
            <div class="item-desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
        <div class="item col-12 col-md-4">
          <div class="item-inner">
            <%= image_tag('icons/presenter-white.svg', class: "item-icon") %>
            <h3 class="item-title">Increase Productivity</h3>
            <div class="item-desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
        <div class="item col-12 col-md-4">
          <div class="item-inner">
            <%= image_tag('icons/chat-white.svg', class: "item-icon") %>
            <h3 class="item-title">Better Collabration</h3>
            <div class="item-desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </div>
          </div><!--//item-inner-->
        </div><!--//item-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//benefits-->
  <div class="press-wrapper">
    <div class="container">
      <div class="logos row">
        <div class="logo col-6 col-md-3"><%= image_tag('logos/logo-1.svg', class: "img-fluid") %></div>
        <div class="logo col-6 col-md-3"><%= image_tag('logos/logo-2.svg', class: "img-fluid") %></div>
        <div class="logo col-6 col-md-3"><%= image_tag('logos/logo-3.svg', class: "img-fluid") %></div>
        <div class="logo col-6 col-md-3"><%= image_tag('logos/logo-4.svg', class: "img-fluid") %></div>
      </div>
    </div><!--//container-->
  </div><!--//press-wrapper-->
</section><!--//overview-section-->

<section id="features-section" class="features-section section">
  <h2 class="section-title">
    Key Features
  </h2>
  <div class="container">
    <div class="row">
      <div class="features-content-wrapper col-12 col-md-7 com-lg-7">
        <div class="intro">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
        </div><!--//intro-->
        <ul class="feature-list list-unstyled">
          <li><%= image_tag('tick.svg', class: "tick-icon") %> Feature one lorem ipsum dolor sit amet.</li>
          <li><%= image_tag('tick.svg', class: "tick-icon") %> Feature one lorem ipsum dolor sit amet.</li>
          <li><%= image_tag('tick.svg', class: "tick-icon") %> Feature one lorem ipsum dolor sit amet.</li>
          <li><%= image_tag('tick.svg', class: "tick-icon") %> Feature one lorem ipsum dolor sit amet.</li>
          <li><%= image_tag('tick.svg', class: "tick-icon") %> Feature one lorem ipsum dolor sit amet.</li>
          <li><%= image_tag('tick.svg', class: "tick-icon") %> Feature one lorem ipsum dolor sit amet.</li>
        </ul><!--//feature-list-->

        <div id="reviews-carousel" class="reviews-carousel carousel slide" data-ride="carousel">
          <!--//wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item item active">
              <blockquote class="review center-block">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </blockquote><!--//review-->
              <div class="source">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div><!--//rating-->
                <%= image_tag('users/user-1.png', class: "profile") %>
                <div class="name">Theresa Wood, Product Hunt</div>
              </div><!--//source-->
            </div><!--//item-->

            <div class="carousel-item item">
              <blockquote class="review center-block">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </blockquote><!--//review-->
              <div class="source">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div><!--//rating-->
                <%= image_tag('users/user-2.png', class: "profile") %>
                <div class="name">Rob Kim, Mashable</div>
              </div><!--//source-->
            </div><!--//item-->

            <div class="carousel-item item">
              <blockquote class="review center-block">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <p>A great way to Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </blockquote><!--//review-->
              <div class="source">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div><!--//rating-->
                <%= image_tag('users/user-3.png', class: "profile") %>
                <div class="name">Kevin Howell, Wired</div>
              </div><!--//source-->
            </div><!--//item-->

          </div><!--//carousel-inner-->

          <!--//Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#reviews-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#reviews-carousel" data-slide-to="1"></li>
            <li data-target="#reviews-carousel" data-slide-to="2"></li>
          </ol>

        </div><!--//reviews-carousel-->
      </div><!--//features-content-wrapper-->
    </div><!--//row-->
  </div><!--//container-->

  <div class="features-figure-wrapper">
    <%= image_tag('imac-screen.png', class: "img-fluid") %>
  </div><!--//features-figure-wrapper-->

  <div class="action-wrapper text-center">
    <a href="features.html" class="btn btn-secondary">View all features</a>
  </div>

</section><!--//features-section-->

<section id="customers-section" class="customers-section section">
  <h2 class="section-title">Trusted by smart businesses</h2>
  <div class="section-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum felis at lacus blandit egestas. Donec consectetur mollis leo, et pharetra massa eleifend mollis.</div>
  <div class="container">
    <div class="stories-wrapper row">
      <div class="item item-1 col-12 col-md-6">
        <div class="item-inner text-center">
          <div class="item-mask"></div>
          <div class="item-content">
            <h3 class="content-title">Shipping product <br>at an amazing speed</h3>
            <div class="content-desc">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
            </div>
            <a class="item-link" href="#"></a>
          </div><!--//item-content-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item item-2 col-12 col-md-6">
        <div class="item-inner text-center">
          <div class="item-mask"></div>
          <div class="item-content">
            <h3 class="content-title">Better collaboration <br>with remote teams</h3>
            <div class="content-desc">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
            </div>
            <a class="item-link" href="#"></a>
          </div><!--//item-content-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item item-3 col-12 col-md-6">
        <div class="item-inner text-center">
          <div class="item-mask"></div>
          <div class="item-content">
            <h3 class="content-title">Put UX at the heart of  <br>our SaaS business</h3>
            <div class="content-desc">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
            </div>
            <a class="item-link" href="#"></a>
          </div><!--//item-content-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item item-4 col-12 col-md-6">
        <div class="item-inner text-center">
          <div class="item-mask"></div>
          <div class="item-content">
            <h3 class="content-title">A new way to app <br>development</h3>
            <div class="content-desc">
              <i class="fa fa-quote-left" aria-hidden="true"></i>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus.</p>
            </div>
            <a class="item-link" href="#"></a>
          </div><!--//item-content-->
        </div><!--//item-inner-->
      </div><!--//item-->
    </div><!--//row-->
    <div class="action-wrapper text-center">
      <a class="btn btn-secondary" href="stories.html">All Customer Stories</a>
    </div>
  </div><!--//container-->
</section><!--//customers-section-->

<%= cell(:lead_form, Lead.new) %>

<section id="support-section" class="support-section section text-center">
  <h2 class="section-title">24/7 Customer Support</h2>
  <div class="section-intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</div>
  <a class="btn btn-secondary" href="support.html">Our Support Center</a>
  <div class="team-figure">
    <%= image_tag('team.png', class: "img-fluid support-team") %>
  </div><!--//team-figure-->
</section><!--//support-section-->

<section class="apps-section section text-center">
  <h2 class="section-title">Download Our Apps</h2>
  <div class="container">
    <ul class="apps-list list-inline">
      <li class="list-inline-item"><a class="btn btn-download-app btn-apple-download" href="#"><i class="fa fa-apple" aria-hidden="true"></i> <span class="btn-text"><span class="intro-text">Download on the</span><span class="main-text">App Store</span></span></a></li>
      <li class="list-inline-item"><a class="btn btn-download-app btn-andriod-download" href="#"><i class="fa fa-android" aria-hidden="true"></i> <span class="btn-text"><span class="intro-text">Get it on</span><span class="main-text">Google Play</span></span></a></li>
      <li class="list-inline-item"><a class="btn btn-download-app btn-windows-download" href="#"><i class="fa fa-windows" aria-hidden="true"></i> <span class="btn-text"><span class="intro-text">Download from</span><span class="main-text">Windows Phone Store</span></span></a></li>
    </ul><!--//apps-list-->
  </div><!--//container-->
</section><!--//apps-section-->
<%= render "modals/video_modal" %>
<%= render "modals/login_modal" %>
<%= render "modals/signup_modal" %>
<%= render "modals/reset_password_modal" %>
