<% body_class "features-page" %>
<%= cell(:heading_section, nil) %>

<div class="page-nav-space-holder d-none d-md-block">
  <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
    <div class="container">
      <ul id="page-nav" class="nav page-nav list-inline">
        <li class="nav-item"><a class="nav-link scrollto" href="#overview-section">Overview</a></li>
        <li class="nav-item"><a class="nav-link scrollto"  href="#features-section">Key Features</a></li>
        <li class="nav-item"><a class="nav-link scrollto"  href="#support-section">Support</a></li>
        <li class="nav-item"><a class="nav-link scrollto"  href="#signup-section">Get Started</a></li>
      </ul><!--//page-nav-->
    </div>
  </div><!--//page-nav-wrapper-->
</div><!--//page-nav-space-holder-->

<%= cell(:overview_section, nil) %>
<%= cell(:benefit_section, nil) %>
<%= cell(:press_section, nil) %>
<%= cell(:features_section, nil) %>
<%= cell(:lead_form, Lead.new) %>
<%= cell(:customer_support, nil) %>
<%= cell(:started_section, nil) %>
