<div id="team-block" class="team-block">
  <div class="container">
    <h2 class="block-heading text-center">Our Team</h2>
    <div class="block-intro text-center"> Mugshot.com was launched to give people the ability to remove mugshots and remove arrest records from the internet. Arrest records will always be accessible at the government records depot and local court houses, but that does not mean they have to be accessible through a basic Google search. We offer a total removal solution to arrest records and associated images (mugshots) online. All projects are guaranteed by a money back statement of work. Our terms and conditions are transparent and we will work with you until you are satisfied as a client. We look forward to being able to help you.</div>
    <div class="block-cta text-center">
      <a class="btn btn-secondary" href="career.html">Want to Join Us?</a>
    </div>
    <div class="row">
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <%= image_tag('team/member-1.jpg', class: "img-fluid") %>
          <div class="mask">
          </div><!--//mask-->
          <div class="info text-center">
            <div class="name">James Doe</div>
            <div class="title">Co-Founder, CEO</div>
            <ul class="social list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
          </div><!--//info-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <%= image_tag('team/member-2.jpg', class: "img-fluid") %>
          <div class="mask">
          </div><!--//mask-->
          <div class="info text-center">
            <div class="name">Mike Doe</div>
            <div class="title">Co-Founder, CTO</div>
            <ul class="social list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>

            </ul><!--//social-->
          </div><!--//info-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <%= image_tag('team/member-3.jpg', class: "img-fluid") %>
          <div class="mask">
          </div><!--//mask-->
          <div class="info text-center">
            <div class="name">Kate Doe</div>
            <div class="title">Product Manager</div>
            <ul class="social list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>

            </ul><!--//social-->
          </div><!--//info-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <%= image_tag('team/member-4.jpg', class: "img-fluid") %>
          <div class="mask">
          </div><!--//mask-->
          <div class="info text-center">
            <div class="name">David Doe</div>
            <div class="title">Full-Stack Developer</div>
            <ul class="social list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>

            </ul><!--//social-->
          </div><!--//info-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <%= image_tag('team/member-5.jpg', class: "img-fluid") %>
          <div class="mask">
          </div><!--//mask-->
          <div class="info text-center">
            <div class="name">Mark Doe</div>
            <div class="title">App Developer</div>
            <ul class="social list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>

            </ul><!--//social-->
          </div><!--//info-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <%= image_tag('team/member-6.jpg', class: "img-fluid") %>
          <div class="mask">
          </div><!--//mask-->
          <div class="info text-center">
            <div class="name">Jennifer Doe</div>
            <div class="title">Product Designer</div>
            <ul class="social list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
          </div><!--//info-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <%= image_tag('team/member-7.jpg', class: "img-fluid") %>
          <div class="mask">
          </div><!--//mask-->
          <div class="info text-center">
            <div class="name">Tim Doe</div>
            <div class="title">Product Designer</div>
            <ul class="social list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
          </div><!--//info-->
        </div><!--//item-inner-->
      </div><!--//item-->
      <div class="item col-6 col-lg-3">
        <div class="item-inner">
          <%= image_tag('team/member-8.jpg', class: "img-fluid") %>
          <div class="mask">
          </div><!--//mask-->
          <div class="info text-center">
            <div class="name">Betty Doe</div>
            <div class="title">Customer Support</div>
            <ul class="social list-inline">
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

            </ul><!--//social-->
          </div><!--//info-->
        </div><!--//item-inner-->
      </div><!--//item-->
    </div><!--//row-->
  </div><!--//container-->
</div><!--//team-block-->
